<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
<title th:text="${titulo}"></title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
</head>

<body>
	<header>
		<div class="row">
			<img src="/imagen/imagen.png" class="img-fluid "
				alt="Responsive image"></img>
			<div class="col-12">

				<nav class="navbar navbar-expand-lg navbar-light border "
					style="background-color: #e3f2fd;" alt="Responsive image">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link"
							href="listarVenta">Venta</a></li>
						<li class="nav-item"><a class="nav-link" href="listarPersona">Persona</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="listarInsumo">Insumo</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="listarProveedor">Proveedor</a>
						</li>
					

						<li class="nav-item active"><a class="nav-link" href="#">Cerdo
								<span class="sr-only">(current)</span>
						</a></li>
					</ul>
				</nav>


			</div>
		</div>
	</header>
	<div class="container">

		<h1 class="text-center my-3">Cerdos</h1>

		<hr class="border-secondary">
		<div class='row mx-4'>
			<h2 class="my-2">Crear Nuevo cerdo</h2>

			<form class="form-inline"  th:action="@{/listarCerdo}"
				th:object="${cerdo}" method="post">

				<div class="form-group">
					<input type="text" th:field="*{raza}" placeholder="Nuevo raza"
						class="form-control ml-5"  required/> 
						<input type="number"
						th:field="*{peso}" placeholder="peso
						" class="form-control m-1" required/> 
						
						<input
						type="number" th:field="*{edad}" placeholder="Edad"
						class="form-control mr-1" required/> 
						
						<input type="text" th:field="*{id_insumo}"
						placeholder="Id Insumo" class="form-control mr-1" required/>



					<input type="hidden" th:field="*{id_cerdo}" /> 
					<button type="submit"
						 class="btn btn-success ml-1" >
						<i class ="fas fa-plus "></i> Guardar
						</button>
				</div>
			</form>


			<form class="form-inline" method='post' name='form1'></form>
		</div>

		<hr class="border-secondary">

		<div class='row mx-2 my-2'>
			<div class="col-12 my-2 ">
				<h2>Información del Cerdo</h2>


				<table id="infoTable" class="table table-bordered mt-3 text-center" >
					<thead style ="background-color: #bccad6;">
						<tr>
							<th>id Cerdo</th>
							<th>Edad</th>
							<th>Id Insumo</th>
							<th>Peso</th>
							<th>Raza</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="Cerdo: ${cerdos}">
							<td th:text="${cerdo.id_cerdo}"></td>
							<td th:text="${cerdo.edad}"></td>
							<td th:text="${cerdo.id_insumo}"></td>
							<td th:text="${cerdo.peso}"></td>
							<td th:text="${cerdo.raza}"></td>
							<td><a class="btn btn-primary m-1"
								th:href="@{/listarCerdo/} + ${cerdo.id_cerdo}">
								<i class="fas fa-edit"></i></a>
							<a class="btn btn-danger m-1"
								th:href="@{/eliminarCerdo/} + ${cerdo.id_cerdo}"
								onclick="return confirm('Desea Eliminar el Libro?');">
								<i class="fas fa-trash-alt"></i></a></td>
						</tr>
					</tbody>
				</table>



			</div>
		</div>
	</div>
	<br>
</body>

</html>