<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
<title th:text="${titulo}"></title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
</head>

<body>
	<header>
		<div class="row">
			<img src="/imagen/imagen.png" class="img-fluid "
				alt="Responsive image"></img>
			<div class="col-12">

				<nav class="navbar navbar-expand-lg navbar-light border "
					style="background-color: #e3f2fd;" alt="Responsive image">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link"
							href="listarPrestamo">Prestamos</a></li>
						<li class="nav-item"><a class="nav-link" href="listarPersona">Persona</a>
						</li>

						<li class="nav-item active"><a class="nav-link" href="#">Libro
								<span class="sr-only">(current)</span>
						</a></li>
					</ul>
				</nav>


			</div>
		</div>
	</header>
	<div class="container">

		<h1 class="text-center my-3">Biblioteca</h1>

		<hr class="border-secondary">
		<div class='row mx-4'>
			<h2 class="my-2">Crear Nuevo Libro</h2>

			<form class="form-inline"  th:action="@{/listarLibro}"
				th:object="${libro}" method="post">

				<div class="form-group">
					<input type="text" th:field="*{titulo}" placeholder="Nuevo Titulo"
						class="form-control ml-5"  required/> 
						<input type="text"
						th:field="*{autor}" placeholder="Autor" class="form-control m-1" required/> 
						
						<input
						type="number" th:field="*{isbn}" placeholder="Nuevo Isbn"
						class="form-control mr-1" required/> 
						
						<input type="text" th:field="*{genero}"
						placeholder="Genero" class="form-control mr-1" required/>



					<input type="hidden" th:field="*{idLibro}" /> 
					<button type="submit"
						 class="btn btn-success ml-1" >
						<i class ="fas fa-plus "></i> Guardar
						</button>
				</div>
			</form>


			<form class="form-inline" method='post' name='form1'></form>
		</div>

		<hr class="border-secondary">

		<div class='row mx-2 my-2'>
			<div class="col-12 my-2 ">
				<h2>Información del Libro</h2>


				<table id="infoTable" class="table table-bordered mt-3 text-center" >
					<thead style ="background-color: #bccad6;">
						<tr>
							<th>id Libro</th>
							<th>Titulo</th>
							<th>Autor</th>
							<th>Isbn</th>
							<th>Genero</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="libro: ${libros}">
							<td th:text="${libro.idLibro}"></td>
							<td th:text="${libro.titulo}"></td>
							<td th:text="${libro.autor}"></td>
							<td th:text="${libro.isbn}"></td>
							<td th:text="${libro.genero}"></td>
							<td><a class="btn btn-primary m-1"
								th:href="@{/listarLibro/} + ${libro.idLibro}">
								<i class="fas fa-edit"></i></a>
							<a class="btn btn-danger m-1"
								th:href="@{/eliminarLibro/} + ${libro.idLibro}"
								onclick="return confirm('Desea Eliminar el Libro?');">
								<i class="fas fa-trash-alt"></i></a></td>
						</tr>
					</tbody>
				</table>



			</div>
		</div>
	</div>
	<br>
</body>

</html>